/** @format */
@import "../../Theme/variable.scss";

.sticky-nav {
  position: absolute;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
  span {
    letter-spacing: 3px !important;
    font-size: 10px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    cursor: pointer !important;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.custom-line {
  @include stickyHover;
}

.hoverEffect {
  &:hover {
    .custom-line {
      width: 90px;
    }
  }
}

.activeClass {
  .custom-line {
    width: 90px;
  }
}
